<div class="container">
  <!-- <app-carousel></app-carousel> -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">BBVA Continental</h1>
      <p class="lead">BBVA te ofrece los mejores productos que se adapten a ti.</p>
    </div>
  </div>
</div>
