<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          BBVA
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Men&uacute;</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-white" routerLink="/dashboard" routerLinkActive="active">Principal</a>
              </li>
              <li>
                <a class="text-white" routerLink="/login" routerLinkActive="active">Login</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://www.bbva.pe/">Los Titanes del BBVA</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->