<div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/img/Logo-BBVA-1024x576.jpg" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/img/Logo-BBVA-1024x576.jpg" class="d-block w-100" height="500" alt="...">
      </div>
    </div>
  </div>  
</div>

