<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="dashboard()">BBVA
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" (click)="dashboard()">
            <a class="nav-link active" aria-current="page">Principal</a>
          </li>
          <div class="" *ngIf="token">
            <li class="nav-item" (click)="login()" >
              <a class="nav-link active" aria-current="page">Mi Cuenta
              </a>
            </li>
          </div>
          <div class="" *ngIf="!token">
            <li class="nav-item" (click)="login()">
              <a class="nav-link active" aria-current="page">Ingresar
              </a>
            </li>
          </div>
          <div class="" *ngIf="token">
            <li class="nav-item" (click)="logout()">
              <a class="nav-link active" aria-current="page">Salir
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</div>
